.sprint-table {
    min-width: 800px;
}

.task {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    cursor: move;
    float: left;
    margin: 5px 1.9%;
    padding: 1%;
    width: 44%;
    word-wrap: break-word;
}

.edit-task {
    cursor: pointer;
}

.task-hover {
    background-color: #ddd;
}

.big-modal {
    width: 80%;
    margin-left: -40%;
}

.keep-white-space {
    white-space: pre-wrap;
}

.burndown-hours-display {
    cursor: pointer;
}

.burndown-hours-input {
    margin: 0 !important;
    width: 25px;
}

.burndown-hours-hover {
    background-color: #a9effd;
}

.yAxis .tickLabel {
    margin-right: 17px;
    margin-top: -7px;
}

.table-view td {
    vertical-align: middle;
}

.task-row-input {
    margin: 0 !important;
}

.hours-input, .hours-remaining-input {
    width: 32px !important;
}