/* WAB Scrumboard Skin
 * Created 12/20/12
 * written by billy@yext.com
 */

#wab {
  font-family: Arial;

  #header {
    background-color: #0088cc;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 1px 15px #666;
    border: 1px #666 solid;
    overflow: hidden;
    padding: 15px;
  }

  #main-wrapper {
    margin-top: 15px;
    padding: 15px;
  }
}
