<template name="burndown">
  <div style="margin: 0 auto 50px; width: 960px;">
    <div id="burndown-graph" style="float: left; width: 600px; height: 450px;"></div>
    <div id="retrospective-container" style="float: right; width: 300px; height: 420px;">
      {{> retrospective}}
    </div>
    <div style="clear: both;"></div>
  </div>
  <table id="burndown-table" class="table table-bordered table-condensed" style="margin: 0 auto; min-width: 800px; max-width: 1100px; width: 80%;">
    <tbody>
      <tr>
        <td><h5>Day</h5></td>
        {{#each days}}
          <td style="text-align: center;"><h5>{{day}}</h5></td>
        {{/each}}
      </tr>
      <tr>
        <td><h5>Hours Remaining (Expected)</h5></td>
        {{#each days}}
          <td style="vertical-align: middle; text-align: center;">{{hoursExpected}}</td>
        {{/each}}
      </tr>
      <tr>
        <td><h5>Hours Remaining (Actual)</h5></td>
        {{#each days}}
          <td class="burndown-hours-actual" style="vertical-align: middle; text-align: center;">
            <span class="burndown-hours-display">{{hoursActual}}</span>
            <span class="burndown-hours-edit" style="display: none;">
              <input type="text" class="burndown-hours-input" value="{{hoursActual}}">
            </span>
          </td>
        {{/each}}
      </tr>
    </tbody>
  </table>
  <div style="text-align: center; margin: 20px 0;">
    <button type="button" id="log-day-button" class="btn" {{#if noMoreDays ""}}disabled{{/if}}>
      Log Next Day ({{hoursRemaining}} hours)
    </button>
  </div>
  {{> imageDialog}}
</template>

<template name="retrospective">
  {{#if retrospectiveImage}}
    <img id="retrospective-image" src="{{retrospectiveImage}}" width="300">
  {{else}}
    <div style="text-align: center; margin-top: 180px;">
      <button type="button" id="upload-retrospective-button" class="btn">
        Upload retrospective image
      </button>
    </div>
  {{/if}}
</template>