<template name="dashboard">
  <button type="button" id="show-add-sprint-dialog" class="btn pull-right" data-toggle="modal" data-target="#add-sprint-dialog">Add Sprint</button>
  <h1>Sprint Directory</h1>
  <div id="sprints-container">
    {{#each sprint}}
      {{> dashboardSprint}}
    {{/each}}
  </div>

  {{> addSprintDialog}}
  {{> editSprintDialog}}
</template>

<template name="dashboardSprint">
  <div class="sprint-wrapper" data-sprint-id="{{_id}}">
    <h3>
      <span class="state-icon" class="open">+</span>
      <a href="/{{nameUriDecoded}}">{{name}}</a>
    </h3>
    <ul class="stories">
      {{#each stories}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
    <span class="edit-sprint icon-edit" data-toggle="modal" data-target="#edit-sprint-dialog" style="display: none; cursor: pointer;"></span>
  </div>
</template>
