<template name="dashboard">
  <button type="button" id="show-add-sprint-dialog" class="btn pull-right" data-toggle="modal" data-target="#add-sprint-dialog">Add Sprint</button>
  <h1>Sprint Directory</h1>
  <table class="table">
    <thead>
      <th width="30%"><h3>Sprint Name</h3></th>
      <th width="70%"><h3>Stories</h3></th>
    </thead>
    <tbody>
      {{#each sprint}}
        {{> dashboardSprint}}
      {{/each}}
    </tbody>
  </table>
  {{> addSprintDialog}}
  {{> editSprintDialog}}
</template>

<template name="dashboardSprint">
  <tr class="sprint-row" data-sprint-id="{{_id}}">
    <td><h3><a href="/{{nameUriDecoded}}">{{name}}</a></h3></td>
    <td>
      <ul>
        {{#each stories}}
          <li><span class="lead">{{name}}</span></li>
        {{/each}}
      </ul>
    </td>
    <td>
      <i class="edit-sprint icon-edit" data-toggle="modal" data-target="#edit-sprint-dialog" style="display: none; cursor: pointer;"></i>
    </td>
  </tr>
</template>
