<template name="newStoryDialog">
  <div id="add-story-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>New Story</h3>
    </div>
    <div class="modal-body">
      <form id="add-story-form" class="form-horizontal">
        <div class="control-group">
          <div class="controls">
            <div class="error text-error"></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="story-name">Name</label>
          <div class="controls">
            <input type="text" id="story-name" placeholder="Name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="story-points">Story Points</label>
          <div class="controls">
            <input type="number" id="story-points" placeholder="Story Points">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="story-description">Description</label>
          <div class="controls">
            <textarea rows="5" id="story-description" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="story-acceptance-criteria">Acceptance Criteria</label>
          <div class="controls">
            <textarea rows="5" id="story-acceptance-criteria" placeholder="Acceptance Criteria"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button id="add-story-button" class="btn btn-primary">Add Story</button>
    </div>
  </div>
</template>

<template name="taskDialog">
  <div id="add-task-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="show-on-add task-header">New Task</h3>
      <h3 class="show-on-edit task-header">Edit Task</h3>
    </div>
    <div class="modal-body">
      <form id="add-task-form" class="form-horizontal">
        <input type="hidden" id="story-id">
        <input type="hidden" id="task-id">
        <div class="control-group">
          <div class="controls">
            <div class="error text-error"></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="task-name">Name</label>
          <div class="controls">
            <input type="text" id="task-name" placeholder="Name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="task-owner">Owner</label>
          <div class="controls">
            <input type="text" id="task-owner" placeholder="Owner">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="task-hours">Hours</label>
          <div class="controls">
            <input type="number" id="task-hours" placeholder="Hours">
          </div>
        </div>
        <div class="control-group show-on-edit">
          <label class="control-label" for="task-hours-remaining">Hours Remaining</label>
          <div class="controls">
            <input type="number" id="task-hours-remaining" placeholder="Hours Remaining">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="task-description">Description</label>
          <div class="controls">
            <textarea rows="5" id="task-description" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="task-status">Status</label>
          <div class="controls">
            <select id="task-status">
              <option value="notstarted">Not Started</option>
              <option value="inprogress">In Progress</option>
              <option value="done">Done</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button id="delete-task-button" class="btn btn-danger pull-left show-on-edit">Delete</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button id="add-task-button" class="btn btn-primary"></button>
    </div>
  </div>
</template>

<template name="addSprintDialog">
  <div id="add-sprint-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Add Sprint</h3>
    </div>
    <div class="modal-body">
      <form id="add-sprint-form" class="form-horizontal">
        <div class="control-group">
          <div class="controls">
            <div class="error text-error"></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="sprint-name">Name</label>
          <div class="controls">
            <input type="text" id="sprint-name" placeholder="Name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="sprint-days">Days</label>
          <div class="controls">
            <input type="number" id="sprint-days" placeholder="Days">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="sprint-stories-import">Stories Import</label>
          <div class="controls">
            <textarea rows="5" id="sprint-stories-import" placeholder="Copy and paste story cells here"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="sprint-tasks-import">Tasks Import</label>
          <div class="controls">
            <textarea rows="5" id="sprint-tasks-import" placeholder="Copy and paste task cells here"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button id="add-sprint-button" class="btn btn-primary">Add Sprint</button>
    </div>
  </div>
</template>

<template name="storyDetailsDialog">
  <div id="story-details-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" data-story-id="">
    <div class="modal-header">
      <h1 id="story-name" class="pull-left"></h1>
      <h3 class="pull-right"><span id="story-points"></span> points</h3>
      <div class="clearfix"></div>
    </div>
    <div class="modal-body">
      <h2>Description</h2>
      <p id="story-description" class="lead keep-white-space"></p>
      <h2>Acceptance Criteria</h2>
      <p id="story-acceptance-criteria" class="lead keep-white-space"></p>
    </div>
    <div class="modal-footer">
      <button id="delete-story-button" class="btn btn-danger pull-left">Delete</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</template>

<template name="imageDialog">
  <div id="image-lightbox" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="lightbox-header">
      <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
    </div>
    <div class="lightbox-content">
      <img id="image-lightbox-image">
    </div>
  </div>
</template>