<template name="scrumboard">
  {{#with sprint}}
    <table id="sprint-table" class="table table-bordered">
      <thead>
        <th style="text-align: center;" width="14.5%">Story</th>
        <th style="text-align: center;" width="28.5%">Not Started</th>
        <th style="text-align: center;" width="28.5%">In Progress</th>
        <th style="text-align: center;" width="28.5%">Done</th>
      </thead>
      <tbody>
        {{#each stories}}
          {{> story}}
        {{/each}}
        <tr class="add-story-row" >
          <td colspan="4" style="text-align: center;">
            <button type="button" id="show-add-story-dialog" class="btn" data-toggle="modal" data-target="#add-story-dialog" style="visibility: hidden;">Add Story</button>
          </td>
        </tr>
      </tbody>
    </table>
  {{/with}}
</template>

<template name="story">
  {{#with story}}
  <tr data-story-id="{{_id}}">
    <td class="story-cell">
      <div style="text-align: center; margin: 0 auto;">
        <span class="story-name">{{name}}</span>
        <div class="story-controls" style="visibility: hidden;">
          <a class="btn btn-link show-story-details-dialog">Details</a>
          <a class="btn btn-link show-add-task-dialog" data-toggle="modal" data-target="#add-task-dialog">+Task</a>
        </div>
      </div>
    </td>
    <td class="droppable" data-status="notstarted">
      <div class="tasks-container">
        {{#each tasks}}
          {{#if taskStatus "notstarted"}}
            {{> task}}
          {{/if}}
        {{/each}}
      </div>
    </td>
    <td class="droppable" data-status="inprogress">
      <div class="tasks-container">
        {{#each tasks}}
          {{#if taskStatus "inprogress"}}
            {{> task}}
          {{/if}}
        {{/each}}
      </div>
    </td>
    <td class="droppable" data-status="done">
      <div class="tasks-container">
        {{#each tasks}}
          {{#if taskStatus "done"}}
            {{> task}}
          {{/if}}
        {{/each}}
      </div>
    </td>
  </tr>
  {{/with}}
</template>

<template name="task">
  <div class="task" style="background-color: {{color}}" data-task-id="{{id}}">
    <div>
      <small class="pull-left">{{name}}</small>
      <i class="edit-task icon-edit pull-right" style="visibility: hidden;"></i>
      <div class="clearfix"></div>
    </div>
    <div style="text-align: center;"><h5>{{description}}</h5></div>
    <div style="text-align: right; margin-right: 2px;"><small>{{owner}}: {{hours}} hrs</small></div>
  </div>
</template>